:root {
    --bgc: #03045E;
    --color: white;
    --main: #00B4D8;
    --footer: #90E0EF;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
    height: 100%;
    background-color: var(--main);
}

/* 1920px */
body#index {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

header {
    grid-row: 1/2;
    grid-column: 1/5;
    background-color: var(--bgc);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    font-size: 4vw;
}

nav li a {
    color: var(--color);
    text-align: center;
    padding: 14px 16px;
    margin: 5px 0px 0px 10px;
    text-decoration: none;
}

nav li a:hover {
    text-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5);
}

nav li a#toHomePage {
    display: flex;
    background-color: var(--color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

main {
    grid-row: 2/8;
    grid-column: 1/4;
    background-color: var(--main);
}

article,
aside {
    width: 60%;
    padding: 20px;
    text-align: justify;
    margin: 15px auto;
    border: 0px solid transparent;
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.25);
    color: var(--color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 5px var(--bgc);
}

.sidebar {
    grid-row: 2/8;
    grid-column: 4/5;
    background-color: var(--main);
}

aside {
    width: 80%;
}

button {
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--color);
    border: 0px solid transparent;
    background-color: var(--bgc);
    border-radius: 5px;
}

footer {
    grid-row: 8/9;
    grid-column: 1/5;
    background-color: var(--footer);
}

#social {
    width: 30%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
}

#social img {
    padding: 15%;
}

/* 768px */
@media only screen and (max-width: 769px) {

    body,
    html {
        height: min(100%);
    }

    main {
        grid-column: 1/5;
        grid-row: 2/6;
    }

    .sidebar {
        grid-column: 1/5;
        grid-row: 6/8;
    }

    #social {
        width: 80%;
    }

    nav ul {
        justify-content: center;
    }

    nav li {
        font-size: 8vw;
    }

    nav li a#toHomePage img {
        width: 80%;
    }

    article {
        width: 80%;
    }
}

/* 360px */
@media only screen and (max-width: 361px) {
    main {
        grid-row: 2/8;
    }

    .sidebar {
        display: none;
    }

    nav li {
        font-size: 10vw;
    }

    nav li a {
        margin: 5px 0px 0px 0px;
    }

    nav li a#toHomePage img {
        margin-top: 0px;
        width: 62px;
    }

    article {
        width: 95%;
    }
}

/* Calculator style */
#calculator{
    width: 80%;
    margin: 0% 10%;
    padding: 1%;
}

table{
    border-collapse: collapse;
    width: 1000px;
    margin: 20px auto;
}

table tr.teamMemeberTr{
    display: grid;
    grid-template-columns: 100px 250px 250px 200px 200px;
}

table tr.stageAssignmentTr{
    display: grid;
    grid-template-columns: 100px 100px 200px 200px 150px 150px 100px;
}

th,
td{
    border: 1px solid var(--footer);
    overflow-wrap: break-word;
    padding: 8px;
}

tr:nth-child(even){
    background-color: var(--footer);
}

tr:hover{
    background-color: #397d8bbe;
    color: var(--color);
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--bgc);
    color: var(--color);
}

input{
    background-color: transparent;
    border: 0px solid transparent;
    width: 100%;
    padding: 5px;
}

input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }